<%- include('layout/head'); %>
<%- include('layout/header'); %>

<h4>
    Front-end Developer
</h4>
<p>
    <%- frontEnd.length %>
</p>

<h4>
    Gelukkig
</h4>
<p>
    <%- happy.length %>
</p>

<h4>
    Rijk
</h4>
<p>
    <%- rich.length %>
</p>

<h4>
    Succesvol
</h4>
<p>
    <%- successful.length %>
</p>

<h4>
    Geen idee
</h4>
<p>
    <%- noIdea.length %>
</p>

<h4>
    Overig
</h4>
<p>
    <%- other.length %>
</p>